@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .dropdown-item {
    @apply relative;
  }
  .dropdown-menu {
    @apply absolute whitespace-nowrap right-0 top-full bg-white rounded-md shadow-lg overflow-hidden border border-gray-300 invisible opacity-0 duration-200;
  }
  .dropdown-menu li > * {
    @apply py-1.5 px-2 inline-block w-full hover:bg-gray-300;
  }
  .dropdown-item:hover .dropdown-menu {
    @apply visible opacity-100;
  }
  .dropdown-arrow {
    @apply duration-300;
  }
  .dropdown-item:hover .dropdown-arrow {
    @apply rotate-180;
  }
}

@layer components {
  .spinner {
    --spinner-width: 3px;
    --spinner-size: 20px;
  }
  .spinner-lg {
    --spinner-width: 3px;
    --spinner-size: 25px;
  }
  .spinner {
    @apply border-t-red-600 border-gray-100;
    width: var(--spinner-size);
    height: var(--spinner-size);
    border-width: var(--spinner-width);
    border-radius: 50%;
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
.react-datepicker-wrapper {
  @apply w-full;
}
.react-datepicker-wrapper input {
  @apply w-full input input-bordered input-primary pl-8;
}

@layer components {
  .sitelogo {
    @apply text-3xl font-bold inline-flex items-center gap-1;
  }
  nav .sitelogo .logoText {
    @apply max-sm:hidden max-min-sm:block;
  }
}

.btn:focus {
  @apply outline-dashed outline-2 outline-primary outline-offset-2;
}
